REACT_APP_OPENAI_API_KEY=sk-...
REACT_APP_ELEVENLABS_API_KEY=sk...
REACT_APP_VAPI_PUBLIC_KEY=e8..

REACT_APP_LIVEKIT_URL=wss://....livekit.cloud
REACT_APP_LIVEKIT_API_KEY=API...
REACT_APP_LIVEKIT_API_SECRET=joyd...
REACT_APP_LIVEKIT_AGENT_NAME=Mo...

DASHSCOPE_API_KEY=sk...
DASHSCOPE_WORKSPACE_ID=ws-k...